langchain
langgraph
langchain-core
langchain-groq
langchain-community
streamlit
openai
sentence-transformers
faiss-cpu
pandas
numpy
scikit-learn
requests
python-dotenv
loguru
codecarbon
statsmodels
yfinance
pytest
matplotlib
ipython
mlflow
reportlab
datetime
json
pandas
os